-i https://pypi.org/simple
aiohttp==3.8.1; python_version >= '3.6'
aiosignal==1.2.0; python_version >= '3.6'
altair==4.2.0; python_version >= '3.7'
anyio==3.6.1; python_full_version >= '3.6.2'
async-timeout==4.0.2; python_version >= '3.6'
asyncer==0.0.1; python_full_version >= '3.6.2' and python_full_version < '4.0.0'
attrs==22.1.0; python_version >= '3.5'
backports.zoneinfo==0.2.1; python_version < '3.9'
beautifulsoup4==4.11.1; python_version >= '3.6'
blinker==1.5; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
cachetools==5.2.0; python_version ~= '3.7'
certifi==2022.9.24; python_version >= '3.6'
charset-normalizer==2.1.1; python_version >= '3.6'
click==8.1.3; python_version >= '3.7'
coloredlogs==15.0.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
commonmark==0.9.1
contourpy==1.0.5; python_version >= '3.7'
cycler==0.11.0; python_version >= '3.6'
decorator==5.1.1; python_version >= '3.5'
entrypoints==0.4; python_version >= '3.6'
fastapi==0.80.0; python_full_version >= '3.6.1'
filelock==3.8.0; python_version >= '3.7'
filetype==1.1.0
flatbuffers==22.9.24
fonttools==4.37.4; python_version >= '3.7'
frozenlist==1.3.1; python_version >= '3.7'
gdown==4.5.1
gitdb==4.0.9; python_version >= '3.6'
gitpython==3.1.29; python_version >= '3.7'
h11==0.14.0; python_version >= '3.7'
humanfriendly==10.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
idna==3.4; python_version >= '3.5'
imagehash==4.2.1
imageio==2.22.1; python_version >= '3.7'
importlib-metadata==5.0.0; python_version >= '3.7'
importlib-resources==5.10.0; python_version < '3.9'
jinja2==3.1.2; python_version >= '3.7'
jsonschema==4.16.0; python_version >= '3.7'
kiwisolver==1.4.4; python_version >= '3.7'
llvmlite==0.39.1; python_version >= '3.7'
markupsafe==2.1.1; python_version >= '3.7'
matplotlib==3.6.1
mpmath==1.2.1
multidict==6.0.2; python_version >= '3.7'
networkx==2.8.7; python_version >= '3.8'
numba==0.56.3; python_version >= '3.7'
numpy==1.21.6; python_version < '3.11' and python_version >= '3.7'
onnxruntime==1.12.1
opencv-python==4.6.0.66
opencv-python-headless==4.6.0.66; python_version >= '3.6'
packaging==21.3; python_version >= '3.6'
pandas==1.5.0; python_version >= '3.8'
pillow==9.2.0; python_version >= '3.7'
pkgutil-resolve-name==1.3.10; python_version < '3.9'
protobuf==3.20.3; python_version >= '3.7'
pyarrow==9.0.0; python_version >= '3.7'
pydantic==1.10.2; python_version >= '3.7'
pydeck==0.8.0b4; python_version >= '3.7'
pygments==2.13.0; python_version >= '3.6'
pymatting==1.1.8; python_version >= '3'
pympler==1.0.1; python_version >= '3.6'
pyparsing==3.0.9; python_full_version >= '3.6.8'
pyrsistent==0.18.1; python_version >= '3.7'
pysocks==1.7.1
pysqlite3==0.4.7
python-dateutil==2.8.2; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
python-multipart==0.0.5
pytz==2022.4
pytz-deprecation-shim==0.1.0.post0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5'
pywavelets==1.4.1; python_version >= '3.8'
rembg==2.0.25
requests==2.28.1; python_version >= '3.7' and python_full_version < '4.0.0'
rich==12.6.0; python_full_version >= '3.6.3' and python_full_version < '4.0.0'
scikit-image==0.19.3; python_version >= '3.7'
scipy==1.7.3; python_version < '3.11' and python_version >= '3.7'
semver==2.13.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
setuptools==65.5.0; python_version >= '3.7'
six==1.16.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
smmap==5.0.0; python_version >= '3.6'
sniffio==1.3.0; python_version >= '3.7'
soupsieve==2.3.2.post1; python_version >= '3.6'
starlette==0.19.1; python_version >= '3.6'
streamlit==1.13.0
sympy==1.11.1; python_version >= '3.8'
tifffile==2022.10.10; python_version >= '3.8'
toml==0.10.2; python_version >= '2.6' and python_version not in '3.0, 3.1, 3.2, 3.3'
toolz==0.12.0; python_version >= '3.5'
tornado==6.2; python_version >= '3.7'
tqdm==4.64.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
typing-extensions==4.4.0; python_version >= '3.7'
tzdata==2022.5; python_version >= '3.6'
tzlocal==4.2; python_version >= '3.6'
urllib3==1.26.12; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5' and python_full_version < '4.0.0'
uvicorn==0.18.3; python_version >= '3.7'
validators==0.20.0; python_version >= '3.4'
watchdog==2.1.9; platform_system != 'Darwin'
yarl==1.8.1; python_version >= '3.7'
zipp==3.9.0; python_version >= '3.7'
